<!doctype html>
{% extends "header.html" %}
{% load static %}
{% block content %}

    <section class="page-hero" data-background="assets/img/page-hero.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="header-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
              </ol>
            </nav>
            <h1 class="page-title">About Us</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- End page hero  -->
    <section class="aboutus-sec pt-120 pb-120">
      <div class="container">
        <div class="row g-70">
          <div class="col-lg-6">
            <figure class="mb-60"><img src="assets/img/aboutpage-1.jpg" alt="aboutpage" class="img-fluid"></figure>
            <span class="sec-tagline">Help us now</span>
            <h2 class="sec-title">Functional Charity &
              Fundraising Fully Online
              Platform</h2>
          </div>
          <div class="col-lg-6">
            <figure class="mb-60"><img src="assets/img/aboutpage-2.jpg" alt="aboutpage" class="img-fluid"></figure>
            <p>Tincidunt elit magnis nulla facilisis sagittis sapien nunc amet ultrices dolores sit ipsum velit purus
              aliquet massa fringilla leo orci. Sapien nunc amet ultrices, dolores sit ipsum velit purus aliquet, massa
              fringilla leo orci dolors sit amet elit amet.</p>
            <p>We deserve clean air to breathe and a sustain-able future that is responsive to challenges by climate
              change.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="cta-vid-sec" data-background="assets/img/counter-bg.jpg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mb-xs-30">
            <h2 class="sec-title text-white mb-0">Protect and Enhance
              Environment for Future
              Generations</h2>
          </div>
          <div class="col-md-6 text-right">
            <div class="video-play-box mb-0 float-md-end">
              <a href="https://www.youtube.com/watch?v=TWn59Bcbfic" data-fancybox data-animation-effect="zoom-in-out"
                data-transitionEffect="zoom-in-out"><i class="icon-play"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="testimonials-section pt-120 pb-120" data-background="assets/img/hands-bg.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="testimonial-block">
              <div class="ts-heading">
                <h2 class="hs-title"><span>Testimonials</span></h2>
              </div>
              <div class="testimonials-slider swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="ts-inner">
                      <div class="tu-photo">
                        <img src="assets/img/testi-user-1.jpg" alt="testi-user" class="img-fluid">
                      </div>
                      <div class="tc-block">
                        <p>This is due to their excellent service, competitive pricing and customer support. It’s
                          throughly refresing to get such a personal touch.</p>
                      </div>
                      <div class="tu-meta">
                        <p><span class="tu-nme">Shirley Smith</span> - Customer</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="ts-inner">
                      <div class="tu-photo">
                        <img src="assets/img/testi-user-2.jpg" alt="testi-user" class="img-fluid">
                      </div>
                      <div class="tc-block">
                        <p>This is due to their excellent service, competitive pricing and customer support. It’s
                          throughly refresing to get such a personal touch.</p>
                      </div>
                      <div class="tu-meta">
                        <p><span class="tu-nme">Lora Sarker</span> - Customer</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="ts-inner">
                      <div class="tu-photo">
                        <img src="assets/img/testi-user-1.jpg" alt="testi-user" class="img-fluid">
                      </div>
                      <div class="tc-block">
                        <p>This is due to their excellent service, competitive pricing and customer support. It’s
                          throughly refresing to get such a personal touch.</p>
                      </div>
                      <div class="tu-meta">
                        <p><span class="tu-nme">Nicky Jason</span> - Customer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="tslider-pag">
                  <div class="container">
                    <div class="d-flex justify-content-end">
                      <div class="ts-pagination"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="partners-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="partners-carousel swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="#"><img src="assets/img/partner-01.png" alt="partner" class="img-fluid"></a>
                </div>
                <div class="swiper-slide">
                  <a href="#"><img src="assets/img/partner-02.png" alt="partner" class="img-fluid"></a>
                </div>
                <div class="swiper-slide">
                  <a href="#"><img src="assets/img/partner-03.png" alt="partner" class="img-fluid"></a>
                </div>
                <div class="swiper-slide">
                  <a href="#"><img src="assets/img/partner-01.png" alt="partner" class="img-fluid"></a>
                </div>
                <div class="swiper-slide">
                  <a href="#"><img src="assets/img/partner-04.png" alt="partner" class="img-fluid"></a>
                </div>
                <div class="swiper-slide">
                  <a href="#"><img src="assets/img/partner-05.png" alt="partner" class="img-fluid"></a>
                </div>
                <div class="swiper-slide">
                  <a href="#"><img src="assets/img/partner-06.png" alt="partner" class="img-fluid"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <section class="team-sec pt-120 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="sec-tagline">Our volunteers</span>
            <h2 class="sec-title">Meet the Best Team</h2>
          </div>
        </div>
        <div class="row g-70">
          <div class="col-md-4">
            <div class="team-block">
              <div class="tb-thumb">
                <img src="assets/img/team-1.jpg" alt="" class="img-fluid">
              </div>
              <div class="tb-content">
                <h3 class="tb-name"><a href="single-volunteer.html">Janne <span class="tb-role">Volunteer</span></a>
                </h3>
                <div class="tb-desc">There are many of lorem ipsum available but the have in some form.</div>
                <div class="tb-social">
                  <ul>
                    <li><a href="#"><i class="icon-facebook-f"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-50">
            <div class="team-block">
              <div class="tb-thumb">
                <img src="assets/img/team-2.jpg" alt="" class="img-fluid">
              </div>
              <div class="tb-content">
                <h3 class="tb-name"><a href="single-volunteer.html">Kevin <span class="tb-role">Volunteer</span></a>
                </h3>
                <div class="tb-desc">There are many of lorem ipsum available but the have in some form.</div>
                <div class="tb-social">
                  <ul>
                    <li><a href="#"><i class="icon-facebook-f"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-block">
              <div class="tb-thumb">
                <img src="assets/img/team-3.jpg" alt="" class="img-fluid">
              </div>
              <div class="tb-content">
                <h3 class="tb-name"><a href="single-volunteer.html">Sarah <span class="tb-role">Volunteer</span></a>
                </h3>
                <div class="tb-desc">There are many of lorem ipsum available but the have in some form.</div>
                <div class="tb-social">
                  <ul>
                    <li><a href="#"><i class="icon-facebook-f"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}
