{% extends "header.html" %}
{% load static %}
{% block content %}
    <header id="micro-mobile-header" class="mobile-header">
      <div class="mobile-header-inner">
        <div class="container-fluid">
          <div class="d-flex justify-content-between align-items-center">
            <div class="col-8">
              <div class="mobile-logo-wrap">
                <a href="index.html"><img src="assets/img/logo.png" alt="header logo" class="img-fluid"></a>
              </div>
            </div>
            <div class="col-4">
              <div class="menu-trigger">
                <span class="bar-line-1"></span>
                <span class="bar-line-2"></span>
                <span class="bar-line-3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="micro-mobile-header-navigation">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <nav class="mobile-header-menu" role="navigation" aria-label="Header mobile menu">
                <ul class="menu">
                  <li class="current-menu-item menu-item-has-children"><a href="index.html"><span>Home</span></a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Home 1</a></li>
                      <li><a href="home-2.html">Home 2</a></li>
                      <li class="menu-item-has-children"><a href="home-2.html">Header</a>
                        <ul class="sub-menu">
                          <li><a href="index.html">Header 1</a></li>
                          <li><a href="home-2.html">Header 2</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="about.html">About</a></li>
                      <li><a href="gallery.html">Gallery</a></li>
                      <li><a href="volunteers.html">Volunteers</a></li>
                      <li><a href="single-volunteer.html">Volunteer details</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="causes.html">Causes</a>
                    <ul class="sub-menu">
                      <li><a href="causes.html">Cause grids</a></li>
                      <li><a href="single-cause.html">Cause details</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="events.html">Events</a>
                    <ul class="sub-menu">
                      <li><a href="events.html">Event grids</a></li>
                      <li><a href="single-event.html">Event details</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="news.html">News</a>
                    <ul class="sub-menu">
                      <li><a href="news.html">News grids</a></li>
                      <li><a href="single.html">News details</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="full-bar-search-wrap">
      <div class="close-search"></div>
      <div class="search-form-wrapper">
        <form method="get" class="search-form" action="#">
          <div class="search-form-group"> <input name="s" type="text" class="form-control" value=""
              placeholder="Search...">
            <div class="search-line"></div>
          </div>
          <button type="submit" class="search-submit"><i class="icon-search"></i></button>
        </form>
      </div>
    </div>
    <!-- End header  -->
    <!-- Start page hero  -->
    <section class="page-hero" data-background="assets/img/page-hero.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="header-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
              </ol>
            </nav>
            <h1 class="page-title">Gallery Grids</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- End page hero  -->
    <section class="pb-90 pt-120">
      <div class="container">
        <div class="row gallery-grid">

        {% for gallery_img in obj %}
          <div class="col-md-4">
            <div class="gallery-item">
              <img src="{{ gallery_img.Image.url }}" alt="gallery" class="img-fluid"><a class="fabo-link"
                data-fancybox="gallery" href="{{ gallery_img.Image.url }}"></a>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </section>
{% endblock content %}
