{% extends "header.html" %}
{% load static %}
{% block content %}

    <!-- Start slider  -->
    <section class="slider-section">
      <!-- Swiper -->
      <div class="micro-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slider-img" data-background="{% static 'assets/img/slide-1.jpg' %}"></div>
            <div class="slide-content">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <h2 class="slide-heading">Donate People
                      in Extreme Need</h2>
                    <div class="slide-description">We’ve been giving children around the world a healthy start in
                      life and the opportunity to learn.</div>
                    <div class="slide-btn-box">
                      <a href="#" class="slide-btn">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-img" data-background="{% static 'assets/img/slide-2.jpg' %}"></div>
            <div class="slide-content">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <h2 class="slide-heading">Help people for in need</h2>
                    <div class="slide-description">We’ve been giving children around the world a healthy start in
                      life and the opportunity to learn.</div>
                    <div class="slide-btn-box">
                      <a href="#" class="slide-btn">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-img" data-background="{% static 'assets/img/slide-3.jpg' %}"></div>
            <div class="slide-content">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <h2 class="slide-heading">Love children for satisfaction</h2>
                    <div class="slide-description">We’ve been giving children around the world a healthy start in
                      life and the opportunity to learn.</div>
                    <div class="slide-btn-box">
                      <a href="#" class="slide-btn">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="slider-pagination">
          <div class="container">
            <div class="d-flex justify-content-end">
              <div class="ms-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End slider  -->
    <section class="features-section">
      <div class="container">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="features-box feature-1">
              <div class="feature-icon">
                <i class="icon-donation"></i>
              </div>
              <h3 class="feature-title">Make Donations</h3>
              <p class="feature-details">There are many of passages of lorem Ipsum, but the majori have suffered
                alteration in some form.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="features-box feature-2">
              <div class="feature-icon">
                <i class="icon-handshake"></i>
              </div>
              <h3 class="feature-title">Become a Volunteer</h3>
              <p class="feature-details">There are many of passages of lorem Ipsum, but the majori have suffered
                alteration in some form.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="features-box feature-3">
              <div class="feature-icon">
                <i class="icon-graduated"></i>
              </div>
              <h3 class="feature-title">Give Education</h3>
              <p class="feature-details">There are many of passages of lorem Ipsum, but the majori have suffered
                alteration in some form.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-section" data-background="{% static 'assets/img/about-bg.jpg' %}">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6">
            <div class="image-grids mr-lg-50">
              <!-- <div class="im-video-link">
                <a href="https://www.youtube.com/watch?v=TWn59Bcbfic" data-fancybox data-animation-effect="zoom-in-out"
                  data-transitionEffect="zoom-in-out"><i class="icon-play"></i></a>
              </div> -->
              <div class="im-1">
                <img src="{% static 'assets/img/about-img-1.jpg' %}" alt="" class="img-fluid' %}">
              </div>
              <div class="im-2">
                <img src="{% static 'assets/img/about-img-2.jpg' %}" alt="" class="img-fluid' %}">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <span class="sec-tagline">Help us now</span>
            <h2 class="sec-title">We’re Changing Lives
              with your Help</h2>
            <h4 class="sec-subtitle">Perits is the largest global crowdfunding.</h4>
            <p class="about-desc mb-50">There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form, simply free text by injected humour, or randomised.</p>
            <div class="advanced-list">
              <ul>
                <li><i class="icon-check-circle al-icon"></i> We’re professional and certified designers</li>
                <li><i class="icon-check-circle al-icon"></i> We use quality material to make your walls awesome</li>
                <li><i class="icon-check-circle al-icon"></i> We care about our customers satisfaction</li>
              </ul>
            </div>
            <div class="about-btn">
              <a href="#" class="theme-btn">Donate Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End about us  -->
    <section class="features-sec pt-60 pb-120" data-background="{% static 'assets/img/map.png' %}">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <span class="sec-tagline">Help us now</span>
            <h2 class="sec-title">Our Mission is to Conserve <br>
              the Nature</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-md-30">
            <div class="mission-block">
              <div class="mb-thumb">
                <img src="{% static 'assets/img/mission-1.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="mb-icon mib-1">
                <i class="icon-forest"></i>
              </div>
              <div class="mb-content">
                <div class="mb-inner">
                  <h3 class="mb-title"><span>Forest save</span></h3>
                  <p class="mb-text"><span>There are many lipsum of passages of available but the not some.</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-md-30">
            <div class="mission-block">
              <div class="mb-thumb">
                <img src="{% static 'assets/img/mission-2.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="mb-icon mib-2">
                <i class="icon-forest"></i>
              </div>
              <div class="mb-content">
                <div class="mb-inner">
                  <h3 class="mb-title"><span>Climate Change</span></h3>
                  <p class="mb-text"><span>There are many lipsum of passages of available but the not some.</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="mission-block">
              <div class="mb-thumb">
                <img src="{% static 'assets/img/mission-3.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="mb-icon mib-3">
                <i class="icon-forest"></i>
              </div>
              <div class="mb-content">
                <div class="mb-inner">
                  <h3 class="mb-title"><span>Forest save</span></h3>
                  <p class="mb-text"><span>There are many lipsum of passages of available but the not some.</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="mission-block">
              <div class="mb-thumb">
                <img src="{% static 'assets/img/mission-4.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="mb-icon mib-4">
                <i class="icon-forest"></i>
              </div>
              <div class="mb-content">
                <div class="mb-inner">
                  <h3 class="mb-title"><span>Forest save</span></h3>
                  <p class="mb-text"><span>There are many lipsum of passages of available but the not some.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pc-sec pt-60 pb-xs-120 pb-sm-120 pb-md-120">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-5">
            <span class="sec-tagline bg-white">Help us now</span>
            <h2 class="sec-title">Checkout Popular
              Fundraisers</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form.</p>
          </div>
          <div class="col-lg-7">
            <div class="row g-70">
              <div class="col-md-6 mt-60 mb-xs-30">
                <div class="cause-grid">
                  <figure class="cause-img">
                    <img src="{% static 'assets/img/cause-grid-1.jpg' %}" alt="" class="img-fluid">
                  </figure>
                  <div class="cause-grid-con">
                    <div class="cause-grid-inner">
                      <h3 class="cause-grid-title"><a href="single-cause.html">Protect Childrens</a></h3>
                      <p class="cause-grid-des">Aliq is notm hendr erit a augue insu image.</p>
                    </div>
                    <div class="cause-grid-footer">
                      <div class="bar-box">
                        <div class="bar-line">
                          <div class="bar-line-active" data-percent="36%">
                          </div>
                        </div>
                        <div class="d-flex justify-content-between mt-10">
                          <div class="fund-grid-details">
                            <h5 class="fund-grid-amount">$47,000</h5>
                            <h6 class="fund-grid-target">Raised of 60,000</h6>
                          </div>
                          <div class="fund-raised-percent">36%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cause-grid">
                  <figure class="cause-img">
                    <img src="{% static 'assets/img/cause-grid-2.jpg' %}" alt="" class="img-fluid">
                  </figure>
                  <div class="cause-grid-con">
                    <div class="cause-grid-inner">
                      <h3 class="cause-grid-title"><a href="single-cause.html">Protect Childrens</a></h3>
                      <p class="cause-grid-des">Aliq is notm hendr erit a augue insu image.</p>
                    </div>
                    <div class="cause-grid-footer">
                      <div class="bar-box">
                        <div class="bar-line">
                          <div class="bar-line-active" data-percent="36%">
                          </div>
                        </div>
                        <div class="d-flex justify-content-between mt-10">
                          <div class="fund-grid-details">
                            <h5 class="fund-grid-amount">$47,000</h5>
                            <h6 class="fund-grid-target">Raised of 60,000</h6>
                          </div>
                          <div class="fund-raised-percent">36%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="funds-counter-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="counting-widget">
              <div class="counting-inner">
                <div class="counting-icon">
                  <i class="icon-charity-1"></i>
                </div>
                <div class="counting-content">
                  <span class="counting-number">785,000</span>
                  <div class="counting-title">Raised by 6,388 people in 7 days</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-section pt-120 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="sec-tagline">From the blog</span>
            <h2 class="sec-title">Recent Stories</h2>
          </div>
        </div>
        <div class="row blog-posts">
          <div class="col-md-4">
            <div class="post-block">
              <div class="pb-thumb">
                <img src="{% static 'assets/img/post-1.jpg' %}" alt="post image" class="img-fluid">
                <div class="pb-date">
                  <div class="pb-box">
                    <span class="day">30</span>
                    <span class="month">Apr</span>
                  </div>
                </div>
              </div>
              <div class="pb-content">
                <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                    Healthy Start</a></h2>
                <div class="pb-meta">
                  <div class="pb-author">
                    <i class="icon-circle-user"></i>by Admin
                  </div>
                  <div class="pb-comment">
                    <i class="icon-comments"></i>2 Comments
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-block">
              <div class="pb-thumb">
                <img src="{% static 'assets/img/post-2.jpg' %}" alt="post image" class="img-fluid">
                <div class="pb-date">
                  <div class="pb-box">
                    <span class="day">16</span>
                    <span class="month">Apr</span>
                  </div>
                </div>
              </div>
              <div class="pb-content">
                <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                    Healthy Start</a></h2>
                <div class="pb-meta">
                  <div class="pb-author">
                    <i class="icon-circle-user"></i>by Admin
                  </div>
                  <div class="pb-comment">
                    <i class="icon-comments"></i>2 Comments
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-block">
              <div class="pb-thumb">
                <img src="{% static 'assets/img/post-3.jpg' %}" alt="post image" class="img-fluid">
                <div class="pb-date">
                  <div class="pb-box">
                    <span class="day">02</span>
                    <span class="month">Mar</span>
                  </div>
                </div>
              </div>
              <div class="pb-content">
                <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                    Healthy Start</a></h2>
                <div class="pb-meta">
                  <div class="pb-author">
                    <i class="icon-circle-user"></i>by Admin
                  </div>
                  <div class="pb-comment">
                    <i class="icon-comments"></i>2 Comments
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pc-sec pt-120 pb-60" >
      <div class="container-full sec-right-align">
        <div class="row blog-posts">
          <div class="col-lg-4 mb-xs-30 mb-md-30">
            <span class="sec-tagline">From the Campaigns</span>
            <h2 class="sec-title">Campaigns</h2>
            <p>There are many variations of passages of Lorem Ipsum available simply free text, but the majority.</p>
            <div class="blog-posts-navs">
              <!-- Add Arrows -->
              <div class="bn-prev">
                <i class="icon-arrow-left"></i>
              </div>
              <div class="bn-next">
                <i class="icon-arrow-right"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="blog-carousel swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="{% static 'assets/img/post-1.jpg' %}" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">30</span>
                          <span class="month">Apr</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="{% static 'assets/img/post-2.jpg' %}" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">16</span>
                          <span class="month">Apr</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="{% static 'assets/img/post-3.jpg' %}" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">02</span>
                          <span class="month">Mar</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="post-block">
                    <div class="pb-thumb">
                      <img src="{% static 'assets/img/post-4.jpg' %}" alt="post image" class="img-fluid">
                      <div class="pb-date">
                        <div class="pb-box">
                          <span class="day">17</span>
                          <span class="month">Feb</span>
                        </div>
                      </div>
                    </div>
                    <div class="pb-content">
                      <h2 class="pb-title"><a href="single.html">Every Child Deserves a
                          Healthy Start</a></h2>
                      <div class="pb-meta">
                        <div class="pb-author">
                          <i class="icon-circle-user"></i>by Admin
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="counter-section" data-background="{% static 'assets/img/counter-bg.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-5 mb-xs-30">
            <h2 class="sec-title text-white mb-0">We Promise to Uphold
              the Trust Placed</h2>
          </div>
          <div class="col-xl-6 col-lg-7">
            <div class="row">
              <div class="col-md-6 mb-xs-30">
                <div class="counter-widget">
                  <div class="d-flex align-items-center">
                    <div class="circle-outer">
                      <input type="text" class="circle-box" data-fgColor="#38b44a" data-bgColor="#315376"
                        data-width="140" data-height="140" data-linecap="normal" value="90" data-thickness=".050">
                      <div class="counter-box"><span class="counter-text" data-stop="90" data-speed="2500"></span><span
                          class="counter-sign">%</span></div>
                    </div>
                    <div class="count-title">Healthy
                      Food</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="counter-widget">
                  <div class="d-flex align-items-center">
                    <div class="circle-outer">
                      <input type="text" class="circle-box" data-fgColor="#0e76bc" data-bgColor="#315376"
                        data-width="140" data-height="140" data-linecap="normal" value="50" data-thickness=".050">
                      <div class="counter-box"><span class="counter-text" data-stop="50" data-speed="2500"></span><span
                          class="counter-sign">%</span></div>
                    </div>
                    <div class="count-title">Child
                      Education</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="donate-form-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="donate-inner" data-background="{% static 'assets/img/donate-bg.jpg' %}">
              <div class="row">
                <div class="col-lg-7 mb-xs-30 mb-sm-30 mb-md-30">
                  <span class="sec-tagline bg-white">Help us now</span>
                  <h2 class="sec-title">Donate Funds Now</h2>
                  <p class="donate-descrip">The majority have suffered alteration in some form injected humour or
                    randomised words which don't look even believable.</p>
                  <div class="cs-line"></div>
                  <div class="cause-sm-block">
                    <div class="cs-thumb">
                      <img src="assets/img/casue-sm-thumb.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="cs-title">
                      Changing Lives with Knowledge
                      by more then <span>785,000</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="wpcf7-form">
                    <form action="#">
                      <div class="contact-field">
                        <label for="name" class="screen-reader-text">Your name</label>
                        <input type="text" name="name" id="name" class="wpcf7-form-control" placeholder="Your name">
                        <i class="icon-circle-user"></i>
                      </div>
                      <div class="contact-field">
                        <label for="email" class="screen-reader-text">Email address</label>
                        <input type="text" name="email" id="email" class="wpcf7-form-control"
                          placeholder="Email address">
                        <i class="icon-envelope1"></i>
                      </div>
                      <div class="contact-field">
                        <label for="phone" class="screen-reader-text">Phone number</label>
                        <input type="text" name="phone" id="phone" class="wpcf7-form-control"
                          placeholder="Phone number">
                        <i class="icon-phone"></i>
                      </div>
                      <div class="contact-field textarea-field">
                        <label for="message" class="screen-reader-text">Write message</label>
                        <textarea name="message" id="message" class="wpcf7-form-control"
                          placeholder="Write message"></textarea>
                        <i class="icon-comment"></i>
                      </div>
                      <div class="contact-field">
                        <button type="submit" class="wpcf7-submit">Continue Now</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="testimonials-section pt-60 pb-120" >
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="testimonial-block">
              <div class="col-md-12 text-center">
                <span class="sec-tagline">testimonials</span>
              </div>
              <div class="testimonials-slider swiper-container pt-60">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="ts-inner">
                      <div class="tu-photo">
                        <img src="{% static 'assets/img/testi-user-1.jpg' %}" alt="testi-user" class="img-fluid">
                      </div>
                      <div class="tc-block">
                        <p>This is due to their excellent service, competitive pricing and customer support. It’s
                          throughly refresing to get such a personal touch.</p>
                      </div>
                      <div class="tu-meta">
                        <p><span class="tu-nme">Shirley Smith</span> - Customer</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="ts-inner">
                      <div class="tu-photo">
                        <img src="{% static 'assets/img/testi-user-2.jpg' %}" alt="testi-user" class="img-fluid">
                      </div>
                      <div class="tc-block">
                        <p>This is due to their excellent service, competitive pricing and customer support. It’s
                          throughly refresing to get such a personal touch.</p>
                      </div>
                      <div class="tu-meta">
                        <p><span class="tu-nme">Lora Sarker</span> - Customer</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="ts-inner">
                      <div class="tu-photo">
                        <img src="{% static 'assets/img/testi-user-1.jpg' %}" alt="testi-user" class="img-fluid">
                      </div>
                      <div class="tc-block">
                        <p>This is due to their excellent service, competitive pricing and customer support. It’s
                          throughly refresing to get such a personal touch.</p>
                      </div>
                      <div class="tu-meta">
                        <p><span class="tu-nme">Nicky Jason</span> - Customer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="tslider-pag">
                  <div class="container">
                    <div class="d-flex justify-content-end">
                      <div class="ts-pagination"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">

            <div
            class="fb-page"
            data-href="https://www.facebook.com/Marvellous-Universe-151543635437758"
            data-tabs="timeline"
            data-width="500"
            data-height="500"
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true">
            <blockquote
                cite="https://www.facebook.com/Marvellous-Universe-151543635437758"
                class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/Marvellous-Universe-151543635437758">Marvellous Universe</a>
            </blockquote>
        </div>
          </div>
        </div>
      </div>
    </section>
    <section class="gallery-section pb-120">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="gallery-slider swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="gallery-item">
                    <img src="{% static 'assets/img/gallery-1.jpg' %}" alt="gallery" class="img-fluid"><a class="fabo-link"
                      data-fancybox="gallery" href="{% static 'assets/img/gallery-1.jpg' %}"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallery-item">
                    <img src="{% static 'assets/img/gallery-2.jpg' %}" alt="gallery" class="img-fluid"><a class="fabo-link"
                      data-fancybox="gallery" href="{% static 'assets/img/gallery-2.jpg' %}"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallery-item">
                    <img src="{% static 'assets/img/gallery-3.jpg' %}" alt="gallery" class="img-fluid"><a class="fabo-link"
                      data-fancybox="gallery" href="{% static 'assets/img/gallery-3.jpg' %}"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallery-item">
                    <img src="{% static 'assets/img/gallery-4.jpg' %}" alt="gallery" class="img-fluid"><a class="fabo-link"
                      data-fancybox="gallery" href="{% static 'assets/img/gallery-4.jpg' %}"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallery-item">
                    <img src="{% static 'assets/img/gallery-5.jpg' %}" alt="gallery" class="img-fluid"><a class="fabo-link"
                      data-fancybox="gallery" href="{% static 'assets/img/gallery-5.jpg' %}"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallery-item">
                    <img src="{% static 'assets/img/gallery-6.jpg' %}" alt="gallery" class="img-fluid"><a class="fabo-link"
                      data-fancybox="gallery" href="{% static 'assets/img/gallery-6.jpg' %}"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="gallery-item">
                    <img src="{% static 'assets/img/gallery-7.jpg' %}" alt="gallery" class="img-fluid"><a class="fabo-link"
                      data-fancybox="gallery" href="{% static 'assets/img/gallery-7.jpg' %}' %}"></a>
                  </div>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="gs-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cta-sec">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-9 mb-xs-30 mb-md-30">
            <div class="d-sm-flex align-items-center">
              <div class="ct-icon">
                <i class="icon-hands"></i>
              </div>
              <h2 class="sec-title text-white ct-title mb-0">Get Involved and Make
                a Difference</h2>
            </div>
          </div>
          <div class="col-lg-3 text-right">
            <a href="#" class="theme-btn dark-btn" style="background-color:#0285fc">Become a Volunteer</a>
          </div>
        </div>
      </div>
    </section>

</body>

</html>

{% endblock content %}