
    <header id="micro-mobile-header" class="mobile-header">
      <div class="mobile-header-inner">
        <div class="container-fluid">
          <div class="d-flex justify-content-between align-items-center">
            <div class="col-8">
              <div class="mobile-logo-wrap">
                <a href="index.html"><img src="assets/img/logo.png" alt="header logo" class="img-fluid"></a>
              </div>
            </div>
            <div class="col-4">
              <div class="menu-trigger">
                <span class="bar-line-1"></span>
                <span class="bar-line-2"></span>
                <span class="bar-line-3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="micro-mobile-header-navigation">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <nav class="mobile-header-menu" role="navigation" aria-label="Header mobile menu">
                <ul class="menu">
                  <li class="current-menu-item menu-item-has-children"><a href="index.html"><span>Home</span></a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Home 1</a></li>
                      <li><a href="home-2.html">Home 2</a></li>
                      <li class="menu-item-has-children"><a href="home-2.html">Header</a>
                        <ul class="sub-menu">
                          <li><a href="index.html">Header 1</a></li>
                          <li><a href="home-2.html">Header 2</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="about.html">About</a></li>
                      <li><a href="gallery.html">Gallery</a></li>
                      <li><a href="volunteers.html">Volunteers</a></li>
                      <li><a href="single-volunteer.html">Volunteer details</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="causes.html">Causes</a>
                    <ul class="sub-menu">
                      <li><a href="causes.html">Cause grids</a></li>
                      <li><a href="single-cause.html">Cause details</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="events.html">Events</a>
                    <ul class="sub-menu">
                      <li><a href="events.html">Event grids</a></li>
                      <li><a href="single-event.html">Event details</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="news.html">News</a>
                    <ul class="sub-menu">
                      <li><a href="news.html">News grids</a></li>
                      <li><a href="single.html">News details</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="full-bar-search-wrap">
      <div class="close-search"></div>
      <div class="search-form-wrapper">
        <form method="get" class="search-form" action="#">
          <div class="search-form-group"> <input name="s" type="text" class="form-control" value=""
              placeholder="Search...">
            <div class="search-line"></div>
          </div>
          <button type="submit" class="search-submit"><i class="icon-search"></i></button>
        </form>
      </div>
    </div>
    <!-- End header  -->
    <!-- Start page hero  -->






    <section class="page-hero" data-background="assets/img/page-hero.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="header-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cause</li>
              </ol>
            </nav>
            <h1 class="page-title">Name of the cause</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- End page hero  -->
    <section class="pt-120 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="cause-content">
              <div class="cause-summary">
                <div class="cause-thumbnail">
                  <img src="assets/img/cause-thumbnail.jpg" alt="cause-thumbnail" class="img-fluid">
                </div>
                <div class="cause-box">
                  <div class="row align-items-center">
                    <div class="cause-box-inner col-md-9 mb-xs-30">
                      <div class="bar-line">
                        <div class="bar-line-active" data-percent="36%">
                          <span>36%</span>
                        </div>
                      </div>
                      <div class="db-meta">
                        <div class="db-raised"><span>$25,270</span> Raised</div>
                        <div class="db-goal"><span>$30,000</span> Goal</div>
                      </div>
                    </div>
                    <div class="cd-btn col-md-3">
                      <a href="#" class="theme-btn float-md-end">Donate</a>
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="cause-title">Raise Fund for Clean & Healthy Water</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                embarrassing hidden in the middle of text. </p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.</p>
              <div class="row">
                <div class="col-md-6 mb-xs-30">
                  <img src="assets/img/cause-details.jpg" alt="cause-details" class="img-fluid">
                </div>
                <div class="col-md-6">
                  <h3>More Details</h3>
                  <div class="advanced-list">
                    <ul>
                      <li><i class="icon-check-circle al-icon"></i> Making this first true generator</li>
                      <li><i class="icon-check-circle al-icon"></i> Many desktop publish packages</li>
                      <li><i class="icon-check-circle al-icon"></i> Lorem Ipsum is not simply</li>
                      <li><i class="icon-check-circle al-icon"></i> If you are going to passage</li>
                      <li><i class="icon-check-circle al-icon"></i> It has roots in a piece</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cause-download">
                <div class="cd-title"><span class="cd-icon"><i class="icon-checked-1"></i></span>Our Presentation</div>
                <div class="cd-btn">
                  <a href="#" class="theme-btn white-btn">Download</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="widget-box widget-author">
              <div class="author-image">
                <img src="assets/img/author.jpg" alt="author" class="img-fluid">
              </div>
              <h4 class="author-name">Aleesha Brown</h4>
              <div class="author-desc">It uses a dictionary of over lorem ipsum simply free text latin words,</div>
            </div>
            <div class="widget-box doner-widget">
              <h3 class="widget-title">Recent Donations</h3>
              <div class="doner-list">
                <div class="doner-item">
                  <div class="doner-image">
                    <img src="assets/img/doner-photo.jpg" alt="doner-photo" class="img-fluid">
                  </div>
                  <div class="doner-details">
                    <span class="donate-amount">$20</span>
                    <div class="donar-name">David Marks <span class="donated-time">3 hours ago</span></div>
                    <div class="donar-comment">God bless you dear</div>
                  </div>
                </div>
                <div class="doner-item">
                  <div class="doner-image">
                    <img src="assets/img/donar-2.jpg" alt="doner-photo" class="img-fluid">
                  </div>
                  <div class="doner-details">
                    <span class="donate-amount">$20</span>
                    <div class="donar-name">David Marks <span class="donated-time">3 hours ago</span></div>
                    <div class="donar-comment">God bless you dear</div>
                  </div>
                </div>
                <div class="doner-item">
                  <div class="doner-image">
                    <img src="assets/img/donar-3.jpg" alt="doner-photo" class="img-fluid">
                  </div>
                  <div class="doner-details">
                    <span class="donate-amount">$20</span>
                    <div class="donar-name">David Marks <span class="donated-time">3 hours ago</span></div>
                    <div class="donar-comment">God bless you dear</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
